
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>@ViewBag.v0</h1>


<div class="alert alert-primary">Total Count of skills: @ViewBag.v1</div>
<div class="alert alert-info">Total Sum of Skill values : @ViewBag.v2</div>
<div class="alert alert-success">Count of skills which value is greater than 70 : @ViewBag.v3</div>
<div class="alert alert-warning"> Skills average: @ViewBag.v4</div>
<div class="alert alert-danger"> Count of Experiences: @ViewBag.v5</div>
<div class="alert alert-dark"> Count of Developer Experiences: @ViewBag.v6</div>
<div class="alert alert-success"> Count of Recieved Messages: @ViewBag.v9</div>
<div class="alert alert-secondary"> Count of Read Messages: @ViewBag.v7</div>
<div class="alert alert-info"> Count of Unread Messages: @ViewBag.v8</div>
<div class="alert alert-primary"> Count of Eduacations: @ViewBag.v10</div>
<div class="alert alert-warning"> Count of My Projects: @ViewBag.v11</div>

